{:deps {:aliases [:cljs]}

 :dev-http {8080 "public"}

 :cache-blockers #{nemesis.core}

 :builds
 {:main
  {:target :browser
   :compiler-options {;;:optimizations :none
                      :infer-externs :auto
                      :pseudo-names true
                      :pretty-print true}

   :build-hooks [(nemesis.core/reset-state!)]
   :build-options {:cache-level :off}
   :modules {:main {:entries [nemesis.tries.two]}}}}}
