{:linters {:missing-else-branch {:level :off}
           :redundant-do {:level :off}
           :unused-value {:level :off}
           :redefined-var {:level :off}
           #_#_ :clojure-lsp/unused-public-var {:level :off}
           }
 :lint-as {thetis.utils.misc/defmac clojure.core/defmacro
           thetis.core/defg clojure.core/defn
           thetis.core/generic+ clojure.core/defn
           thetis.core/fork clojure.core/def
           thetis.core/fork+ clojure.core/def
           thetis.core/deft clojure.core/defrecord
           thetis.core/defguard clojure.core/def
           }
 :hooks {:analyze-call {}}}
